{% for article in data.articles.posts %}
    <div class="col-6">
        <div class="card rounded-0 border-0">
            <div class="img-hover-zoom">
                {{ function('get_the_post_thumbnail', article) }}
            </div>
            <div class="card-body text-center">
                <a href="{{ function('the_permalink', article) }}" class="h3 mb-2"><h5>{{ function('short_title', article) }}</h5></a>
                <div>
                    <span>{{ function('wp_date', 'j F, Y', function('strtotime', article.post_date)) }}</span>
                    -
                    <span>Carol Besler</span>
                </div>
            </div>
        </div>
    </div>
{% endfor %}