

body {
    margin: 0;
    font-family: "Work Sans", sans-serif;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.6;
    text-align: left;
    color: var(--black);
    overflow-x: hidden;
}

.form-control:focus, .form-select:focus {
  border-color: black;
  box-shadow: 0 0 0 0.25rem rgba(84, 84, 84, 0.2);
}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    font-family: "Tenor Sans", sans-serif;
    margin: 0;
}

a {
  color: black;
  text-decoration: none;
}
a:hover {
  color: #787878;
}

.breadcrumb-item+.breadcrumb-item::before{
  content: var(--bs-breadcrumb-divider, "→");
}

/* Style Nav */

.navbar-nav .nav-item {
  margin-left: 1rem;
  font-size: 1rem;
}

.nav-scroller {
  position: relative;
  z-index: 2;
  height: 2.75rem;
  overflow-y: hidden;
}

.nav-scroller .nav {
  display: flex;
  flex-wrap: nowrap;
  padding-bottom: 1rem;
  margin-top: -1px;
  overflow-x: auto;
  text-align: center;
  white-space: nowrap;
  -webkit-overflow-scrolling: touch;
}
.nav-scroller nav a{
  position: relative;
}
.nav-scroller nav a::before {
  position: absolute;
  content: "";
  left: 0;
  bottom: 0;
  right: 0;
  height: 2px;
  background: black;
  transition: all 0.5s ease;
  transform: scale(0);
}
.nav-scroller nav a:hover:before {
  transform: scale(1);
}

.side-nav {
  position: sticky;
  top: 7rem;
}
.side-nav a{
  font-size: 1.5rem;
  color: black;
  padding: .25rem .5rem;
  font-family: "Tenor Sans", sans-serif;
}

.side-nav a:hover{
  color: #787878;
  text-decoration-line: underline;
}
.side-nav a.active{
  text-decoration-line: underline;
}

.nav-stick {
  transition: transform 1s, filter .5s ease-out;
  position: fixed !important;
  top: 0;
  right: 0;
  left: 0;
  z-index: 2;
}
/* End Style Nav */


/* Start Style hero-carousel */
.hero-carousel .item .card-body{
  margin-top: -4rem;
  z-index: 2;
}
/* End Style hero-carousel */

/* Start Style zoom effect */
.img-hover-zoom {
  overflow: hidden
}

.img-hover-zoom img {
  border-radius: 0;
  transform-origin: 65% 75%;
  transition: transform 1s,-webkit-filter .5s ease-out;
  transition: transform 1s,filter .5s ease-out;
  transition: transform 1s,filter .5s ease-out,-webkit-filter .5s ease-out
}

.img-hover-zoom:hover img {
  transform: scale(1.05)
}
/* End Style zoom effect */


/* border-box */
.search-container *,
.search-container *:after,
.search-container *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}

/* search bar focus */
.search-container *:focus {
  background: #fbfbfb;
  color: #333333;
  outline: 0;
}

/* search bar container */
.search-container {
  display: table;
  position: relative;
  width: 35px;
}

/* search icon button */
.search-icon-btn {
  background-color: white;
  color: red;
  display: table-cell;
  height: 35px;
  position: relative;
  text-align: center;
  vertical-align: middle;
  width: 35px;
  z-index: 2;
}
.search-icon-btn:hover{
  border: 1px solid #cccccc;
}

/* search bar input container */
.search-input {
  position: absolute;
  right: 0;
  z-index: 1;
}

/* search bar input */
.search-input input.search-bar {
  border: 1px solid #cccccc;
  height: 35px;
  padding: 0px;
  width: 35px;
}
.search-input input.search-bar:focus {
  padding-left: 10px;
  padding-right: 35px;
  width: 200px;
}

/* transition effect */
.search-input input.search-bar,
.search-icon-btn {
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}

/* hover on search bar container */
.search-container:hover > .search-input input.search-bar {
  padding-left: 10px;
  padding-right: 35px;
  width: 200px;
}

.nav-scroller nav a {
  position: relative;
  font-family: "Lato", sans-serif;
}

.owl-carousel .owl-item img {
  height: auto;
}

.leaderboard {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.wp-caption {
  max-width: 100%;
  margin-bottom: 2em;
}

.wp-caption img {
  max-width: 100%;
  height: auto;
}

.img-thumb {
  aspect-ratio: 16 / 9;
}

.img-thumb img {
  object-fit: cover;
  width: 100% !important;
  height: 100% !important;
}

.wp-caption .wp-caption-text {
  padding: 0.4em;
  font-size: 0.9em;
  font-style: italic;
  text-align: center;
}

.wp-post-image {
  width: 100%;
  max-width: 100%;
  height: auto;
}

.leaderboard-vertical {
  position: sticky;
  top: 10rem;
}

.nav-scroller nav a, nav.nav-main a{
  position: relative;
}
.nav-scroller nav a::before, nav.nav-main a::before {
  position: absolute;
  content: "";
  left: 0;
  bottom: 0;
  right: 0;
  height: 2px;
  background: black;
  transition: all 0.5s ease;
  transform: scale(0);
}
.nav-scroller nav a:hover:before, nav.nav-main a:hover:before {
  transform: scale(1);
}

nav.nav-main .dropdown:hover .dropdown-menu {
  display: block;
  margin-top: 0;
}

.dropdown-toggle.collapsed::after {
  border-top: .3em solid;
  border-bottom: 0;
}

.dropdown-toggle:not(.collapsed)::after {
  border-top: 0;
  border-bottom: .3em solid;
}