<footer class="container-fluid">
	<div class="row">
		<div class="pt-4 pb-3 bg-black ">
			<h6 class="text-center text-white">Robb Report Singapore / Media Publishares</h6>
			<ul class="nav justify-content-center">
				<li class="nav-item">
					<a href="#" class="nav-link px-2 text-white">Instagram</a>
				</li>
				<li class="nav-item">
					<a href="#" class="nav-link px-2 text-white">Facebook</a>
				</li>
				<li class="nav-item">
					<a href="#" class="nav-link px-2 text-white">Linkedin</a>
				</li>
			</ul>
		</div>
	</div>
	<div class="row">
		<ul class="nav justify-content-center">
			<li class="nav-item">
				<a href="/about-us" class="nav-link text-black px-2">About</a>
			</li>
			<li class="nav-item">
				<a href="/contact-us/" class="nav-link text-black px-2">Contact</a>
			</li>
			<li class="nav-item">
				<a href="/advertise/" class="nav-link text-black px-2">Advertise</a>
			</li>
			<li class="nav-item">
				<a href="/wp-content/uploads/2024/02/MEDIAKIT_RRSG_2024.pdf" class="nav-link text-black px-2">Media Kit</a>
			</li>
			<li class="nav-item">
				<a href="/distribution" class="nav-link text-black px-2">Distribution</a>
			</li>
			<li class="nav-item">
				<a href="/privacy-policy/" class="nav-link text-black px-2">Privacy Policy</a>
			</li>
			<li class="nav-item">
				<a href="/partnerships-subscriptions" class="nav-link text-black px-2">Partnerships</a>
			</li>
		</ul>
	</div>
</footer>
