{% extends "layout/main.twig" %}

{% block content %}
	<main>
		<section id="section-about">
			<div class="container my-4">
				<div class="row justify-content-center">
					<div class="col-md-5 text-md-end">
						<img src="{{ function('get_stylesheet_directory_uri') }}/assets/img/magz.jpg" class="img-fluid p-2" alt="...">
					</div>
					<div class="col-md-5 px-4">
						<h4 class="mb-4">Robb Report Singapore is the industry's leading luxury lifestyle publication.</h4>
						<p>
							An indispensable and intelligent resource, we
							                        connect with HNWIs with experiences and
							                        accoutrements to cultivate and elevate their
							                        appreciation of the finest things in life.
							                        Our readers are thinkers, innovators, early
							                        adopters and astute connoisseurs of luxury
							                        who believe in living their best lives. They desire
							                        to ahead of the curve and we help them take
							                        their journeys a step further.
						</p>
						<p>
							Robb Report Singapore inspires our readers
							                        with the planet's most exclusive products
							                        and experiences. We engage accomplished
							                        personalities and visionaries who embody
							                        change and define success. We pursue beauty
							                        and regality beyond the surface.
							                        Because true luxury isn't just about enjoying the
							                        world's most expensive things, but uncovering
							                        richness in exceptional experiences.
						</p>
					</div>
				</div>
			</div>
			<div class="container-fluid p-0">
				<div class="row">
					<img src="{{ function('get_stylesheet_directory_uri') }}/assets/img/imageabout.jpg" class="img-fluid my-5" alt="...">
				</div>
				<div class="row justify-content-center">
					<div class="col-md-5">
						<h5 class="mb-4">Defining luxury and celebrating luxury since 1976.</h5>
						<p>
							Robb Report first hit newsstands in 1976. Originally devoted to advertisements for new and 
							                        vintage Rolls-Royces and distributed at the affluent neighbourhoods of California's Bel Air 
							                        and Beverly Hills, the brand evolved over the course of four decades to eventually become 
							                        the single most influential journal of living life to the fullest, with 19 international 
							                        editions across the globe.
						</p>
					</div>
				</div>
				<div class="bg-secondary bg-opacity-25 p-md-5 py-5 px-md-5">
					<div class="container">
						<h3 class="text-center mb-4">The Team</h3>
						<div class="row">
							<div class="col-md-6">
								<h4 class="text-center mb-3">Sales and Marketing</h4>
								<div class="row">
									<div class="col-6">
										<div class="mb-4">
											<p class="mb-0">Publisher</p>
											<p class="mb-0 fs-5">Marina Priyomova</p>
											<p class="mb-0">d.chan@imv.com.sg</p>
										</div>
									</div>
									<div class="col-6">
										<div class="mb-4">
											<p class="mb-0">Account Director</p>
											<p class="mb-0 fs-5">Marina Priyomova</p>
											<p class="mb-0">d.chan@imv.com.sg</p>
										</div>
									</div>
									<div class="col-6">
										<div class="mb-4">
											<p class="mb-0">Marketing Manager</p>
											<p class="mb-0 fs-5">Marina Priyomova</p>
											<p class="mb-0">d.chan@imv.com.sg</p>
										</div>
									</div>
									<div class="col-6">
										<div class="mb-4">
											<p class="mb-0">Associate Account Director</p>
											<p class="mb-0 fs-5">Olga Sushko</p>
											<p class="mb-0">d.chan@imv.com.sg</p>
										</div>
									</div>
								</div>
							</div>
							<div class="col-md-6">
								<h4 class="text-center mb-3">Editorial</h4>
								<div class="row">
									<div class="col-6">
										<div class="mb-4">
											<p class="mb-0">Editor-in-chief</p>
											<p class="mb-0 fs-5">Olga Sushko</p>
											<p class="mb-0">d.chan@imv.com.sg</p>
										</div>
									</div>
									<div class="col-6">
										<div class="mb-4">
											<p class="mb-0">Digital Editor</p>
											<p class="mb-0 fs-5">Nastia Dolzhenytsia</p>
											<p class="mb-0">d.chan@imv.com.sg</p>
										</div>
									</div>
									<div class="col-6">
										<div class="mb-4">
											<p class="mb-0">Writer</p>
											<p class="mb-0 fs-5">Sophia Voznyak</p>
											<p class="mb-0">d.chan@imv.com.sg</p>
										</div>
									</div>
									<div class="col-6">
										<div class="mb-4">
											<p class="mb-0">Contributing Editor</p>
											<p class="mb-0 fs-5">Sophia Voznyak</p>
											<p class="mb-0">d.chan@imv.com.sg</p>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
	</main>
{% endblock %}
