{% extends "layout/main.twig" %}

{% block content %}
	<main>
		<section id="section-dist">
			<div class="container my-4">
				<div class="row justify-content-center">
					<div class="col-md-8 text-center">
						<h4 class="mb-4">Distribution</h4>
						<h5 class="mb-4">Robb Report Singapore can be purchased at:</h5>
						<p>Books Kinokuniya | MPH Bookstores | Relay Bookstores | Selected Popular BookstoresSelected Convenience Stores | Selected WH Smith BookstoresTimes Travel Bookstores</p>
						<h5 class="mb-4">Robb Report Singapore can be found at:</h5>
						<p>1880 | Audi Centre Singapore | BMW Showroom | Capella Singapore | Crowne Plaza Changi Airport | Emirates Airlines LoungeFerrari Showroom | Goodwood Park Hotel | Grand Hyatt Singapore | Grand Park Orchard | InterContinental SingaporeJaguar Showroom | JW Marriott Hotel Singapore South Beach | Laguna National Golf & Country Club | Lamborghini ShowroomMarina at Keppel Bay | Marina Bay Suites | McLaren Showroom | Mandarin Orchard Singapore | Mercedes-Benz ShowroomMovenpick Hotel | One Degree 15 Marina Sentosa Cove, Singapore | Orchard Scotts Residences | Park Royal on PickeringPorsche Showroom | Raffles Hotel Singapore | Regent Singapore | Resorts World Sentosa | The Ritz-Carlton Residences, Singapore, CairnhillThai Royal Silk Lounge (Singapore) | Sentosa Golf Club | Shangri-La Hotel Singapore | Sheraton Towers SingaporeSingapore Airlines SilverKris Lounge T2 | Singapore Airlines SilverKris Lounge T3 | Singapore Polo Club | Sofitel Singapore City CentreThe Orchard Residences | The St. Regis Hotel Singapore | The St. Regis Residences SingaporeThe Fullerton Bay Hotel | The Fullerton Hotel Singapore | The Singapore Island Country ClubVilla Samadhi | Volkswagen Showroom | W Hotel – Sentosa Cove | White Sails Yacht Homeaway</p>
						<h5 class="mb-4">Subscriptions & Marketing</h5>
						<div class="d-flex flex-column">
							<span>Akshata Shanbhag</span>
							<span>Marketing Manager</span>
							<span>a.shanbhag@imv.com.sg</span>
						</div>
					</div>
				</div>
			</div>
			<div class="container-fluid p-0">
				<div class="bg-secondary bg-opacity-25 p-md-5 py-5 px-md-5">
					<div class="container">
						<h4>Subscribe</h4>
						<p>Sign up for our newsletters to have the latest stories delivered straight to your inbox every week.</p>
						<form class="row g-3">
							<div class="col-md-6">
								<div class="form-floating mb-3">
									<input type="text" class="form-control rounded-0" id="NameInput" placeholder="Your Name">
									<label for="NameInput">Your Name</label>
								</div>
							</div>
							<div class="col-md-6">
								<div class="form-floating mb-3">
									<input type="email" class="form-control rounded-0" id="EmailInput" placeholder="Email address">
									<label for="EmailInput">Email address</label>
								</div>
							</div>
							<div class="col-12 text-center">
								<button type="submit" class="btn btn-lg btn-dark rounded-0">Subscribe</button>
							</div>
						</form>
					</div>
				</div>
			</div>
		</section>
	</main>
{% endblock %}
