{% extends "layout/main.twig" %}

{% block content %}
	<main>
		<section id="section-dist">
			<div class="container">
				<div class="distribution my-4">
					{{ function('the_content') }}
				</div>
			</div>
			<div class="container-fluid p-0">
				<div class="bg-secondary bg-opacity-25 p-md-5 py-5 px-md-5">
					<div class="container">
						{{ include('page/component/subscribe.twig') }}
					</div>
				</div>
			</div>
		</section>
	</main>
{% endblock %}