{% extends "layout/main.twig" %}

{% block css_script %}
    <style>

    </style>
{% endblock %}


{% block content %}
	<main>
		<section id="section-newsletters">
			<div class="container">
                <div class="pms-register-container">
                    {{ function('do_shortcode', '[pms-register]') }}
                </div>
			</div>
		</section>
	</main>
{% endblock %}
