{% extends "layout/main.twig" %}

{% block css_script %}
    <style>
        a {
            color: #9c6e6e;
        }
    </style>
{% endblock %}

{% block content %}
	<main>
		<section id="section-newsletters" class="py-4">
			<div class="container">
                <div class="text-center mb-4">
                    <h3>Newsletter</h3>
                </div>
                <div class="pms-register-container mb-4">
                    <form class="js-cm-form" action="https://www.createsend.com/t/subscribeerror?description=" method="post" data-id="2BE4EF332AA2E32596E38B640E905619BBD07B9582DFCEF2C3320268A8A1765EC6E42D293E296DFAEC8C759489404F89320FDF0D30472D73C5C20D543611A62A">
                        <div class="row justify-content-center">
                            <div class="col-md-5">
                                <div class="mb-3">
                                    <label for="firstName" class="form-label">First Name</label>
                                    <input type="text" class="form-control rounded-0" name="cm-f-jyaijr" id="firstName" required>
                                </div>
                                <div class="mb-3">
                                    <label for="lastName" class="form-label">Last Name</label>
                                    <input type="text" class="form-control rounded-0" name="cm-f-jyaijy" id="lastName">
                                </div>
                                <div class="mb-3">
                                    <label for="email" class="form-label">Email</label>
                                    <input type="text" class="form-control rounded-0 js-cm-email-input" name="cm-yhquuh-yhquuh" id="email" required>
                                </div>
                                <div class="mb-3">
                                    <a href="/privacy-policy/">View our privacy policy</a>
                                </div>
                                <div class="mb-3">
                                    <button type="submit" class="btn btn-lg btn-dark rounded-0">Subscribe</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
			</div>
		</section>
	</main>
{% endblock %}

{% block js_script %}
    <script type="text/javascript" src="https://js.createsend1.com/javascript/copypastesubscribeformlogic.js"></script>
{% endblock %}