{% extends "layout/main.twig" %}

{% block css_script %}
    <style>
        .privacy-policy {
            a {
                color: #9c6e6e;
            }
        }
    </style>
{% endblock %}

{% block content %}
<section id="section-contact">
    <div class="container-fluid p-0">
        <div class="bg-secondary bg-opacity-25 p-md-5 py-5 px-md-5">
            <div class="container">
                {{ function('the_content') }}
            </div>
        </div>
    </div>
</section>
{% endblock %}