{% extends "layout/main.twig" %}

{% block content %}
<section id="section-contact">
    <div class="container-fluid p-0">
        <div class="bg-secondary bg-opacity-25 p-md-5 py-5 px-md-5">
            <div class="container">
                <h1 class="text-center mb-4">Privacy Policy</h1>
                <p class="mb-4">Robb Report Singapore is part of Media Publishares. This privacy policy will explain how
                    our organisation uses the personal data we collect from you when you use our website.</p>
                <p><b>What data do we collect?<br>
                    </b><em>Robb Report&nbsp;Singapore</em> collects the following data:</p>
                <ul>
                    <li>Personal identification information (Name, email address, phone number, etc.)</li>
                    <li>Personal preferences to topics relating to Watches, Jewellery, Vehicles and Lifestyle</li>
                </ul>
                <p><b>How do we collect your data?<br>
                    </b>You directly provide&nbsp;<em>Robb Report&nbsp;Singapore</em> with most of the data we collect.
                    We collect data and process data when you:</p>
                <ul>
                    <li>Register online or place an order for any of our products or services.</li>
                    <li>Voluntarily complete a customer survey or provide feedback on any of our message boards or via
                        email.</li>
                    <li>Use or view our website via your browser’s cookies.</li>
                </ul>
                <p><b>How will we use your data?<br>
                    </b><em>Robb Report&nbsp;Singapore</em> collects your data so that we can:</p>
                <ul>
                    <li>Process your order, manage your account.</li>
                    <li>Email you with information on other products, events and services we think you might like</li>
                </ul>
                <p>If you agree, <em>Robb Report Singapore</em> will share your data with our partner company, Media
                    Publishares, so that they may offer you their products and services. When <em>Robb Report
                        Singapore</em> processes your order, it may send your data to, and also use the resulting
                    information from, credit reference agencies to prevent fraudulent purchases.</p>
                <p><b>How do we store your data?<br>
                    </b><em>Robb Report&nbsp;Singapore</em> securely stores your data on our server.</p>
                <p><em>Robb Report Singapore</em> will keep your personal particulars for the lifetime of the
                    publication. Once this time period has expired, we will delete your data.</p>
                <p><b>Marketing<br>
                    </b><em>Robb Report Singapore</em> would like to send you information about products and services of
                    ours and brand partners that we think you might like. These partners include watches, jewellery,
                    automotive, yacht and lifestyle brands.</p>
                <p>If you have agreed to receive such information, you may always opt out at a later date. You have the
                    right at any time to stop <em>Robb Report Singapore</em> from contacting you for marketing purposes
                    or giving your data to other members of Media Publishares.</p>
                <p>If you no longer wish to be contacted for marketing purposes, please send in your request to
                    rrsg@<span class="skimlinks-unlinked">imv.com.sg</span>.</p>
                <p><b>What are your data protection rights?<br>
                    </b><em>Robb Report Singapore</em> would like to make sure you are fully aware of all of your data
                    protection rights.<br>
                    Every user is entitled to the following:</p>
                <p><strong>The right to access:</strong> You have the right to request <em>Robb Report Singapore</em>
                    for copies of your personal data. We may charge you a small fee for this service.<br>
                    <strong>The right to rectification:</strong> You have the right to request that <em>Robb Report
                        Singapore</em> correct any information you believe is inaccurate. You also have the right to
                    request <em>Robb Report Singapore</em> to complete information you believe is incomplete.<br>
                    <strong>The right to erasure</strong>: You have the right to request that <em>Robb Report
                        Singapore</em> erase your personal data, under certain conditions.<br>
                    <strong>The right to restrict processing:</strong> You have the right to request that <em>Robb
                        Report Singapore</em> restrict the processing of your personal data, under certain
                    conditions.<br>
                    <strong>The right to object to processing:</strong> You have the right to object to <em>Robb Report
                        Singapore</em>’s processing of your personal data, under certain conditions.<br>
                    <strong>The right to data portability:</strong> You have the right to request that <em>Robb Report
                        Singapore</em> transfer the data that we have collected to another organisation, or directly to
                    you, under certain conditions.
                </p>
                <p>If you make a request, we have one month to respond to you. If you would like to exercise any of
                    these rights, please contact us at:<br>
                    Email: robbreport@<span class="skimlinks-unlinked">imv.com.sg</span><br>
                    Tel: +65 6225 4045<br>
                    Address: Media Publishares, Song Lin Building, 1 Syed Alwi Road, #02-02, Singapore 207628</p>
                <p><b>What are cookies?<br>
                    </b>Cookies are text files placed on your computer to collect standard Internet log information and
                    visitor behaviour information. When you visit our websites, we may collect information from you
                    automatically through cookies or similar technology.</p>
                <p>For further information, visit&nbsp;<a href="http://www.allaboutcookies.org/" target="_blank"
                        rel="noopener noreferrer"><span class="s2">www.allaboutcookies.org</span></a>.</p>
                <p><b>How do we use cookies?<br>
                    </b><i>Robb Report</i><em>&nbsp;Singapore</em> uses cookies in a range of ways to improve your
                    experience on our website, including:</p>
                <ul>
                    <li>Keeping you signed in</li>
                    <li>Understanding how you use our website</li>
                </ul>
                <p><b>What types of cookies do we use?<br>
                    </b>There are a number of different types of cookies, however, our website uses:</p>
                <ul>
                    <li><strong>Functionality:</strong> <em>Robb Report&nbsp;Singapore</em> uses these cookies so that
                        we recognise you on our website and remember your previously selected preferences. These could
                        include what language you prefer and location you are in. A mix of first-party and third-party
                        cookies are used.</li>
                    <li><strong>Advertising:</strong> <em>Robb Report&nbsp;Singapore</em> uses these cookies to collect
                        information about your visit to our website, the content you viewed, the links you followed and
                        information about your browser, device and your IP address.&nbsp;<em>Robb Report Singapore</em>
                        sometimes shares some limited aspects of this data with third parties for advertising purposes.
                        We may also share online data collected through cookies with our advertising partners. This
                        means that when you visit another website, you may be shown advertising based on your browsing
                        patterns on our website.</li>
                </ul>
                <p><b>How to manage cookies<br>
                    </b>You can set your browser to not accept cookies, and <a href="http://www.allaboutcookies.org/"
                        target="_blank" rel="noopener noreferrer"><span
                            class="s2">www.allaboutcookies.org</span></a>&nbsp;tells you how to remove cookies from your
                    browser. However, in a few cases, some of our website features may not function as a result.</p>
                <p><b>Privacy policies of other websites<br>
                    </b><em>Robb Report&nbsp;Singapore</em>’s website contains links to other websites. Our privacy
                    policy applies only to our website, so if you click on a link to another website, you should read
                    their privacy policy.</p>
                <p><b>Changes to our privacy policy<br>
                    </b><em>Robb Report&nbsp;Singapore</em> keeps its privacy policy under regular review and places any
                    updates on this web page. This privacy policy was last updated on 23 April, 2021.</p>
                <p><b>How to contact us</b></p>
                <p>If you have any questions about&nbsp;<em>Robb Report Singapore</em>’s privacy policy, the data we
                    hold on you, or you would like to exercise one of your data protection rights, please do not
                    hesitate to contact us.</p>
                <p>Email: robbreport@<span class="skimlinks-unlinked">imv.com.sg</span><br>
                    Tel: +65 6225 4045<br>
                    Address: Media Publishares, Song Lin Building, 1 Syed Alwi Road, #02-02, Singapore 207628</p>
                <p><b>How to contact the appropriate authority<br>
                    </b>Should you wish to report a complaint or if you feel that&nbsp;<em>Robb
                        Report&nbsp;Singapore</em> has not addressed your concern in a satisfactory manner, you may
                    contact the Personal Data Protection Commission.</p>
                <p>Email: <a href="mailto:qsm@imda.gov.sg">qsm@imda.gov.sg</a><br>
                    Address: 10 Pasir Panjang Road, #03-01 Mapletree Business City Singapore 117438</p>
            </div>
        </div>
    </div>
</section>
{% endblock %}