{% extends "layout/main.twig" %}

{% block css_script %}
    
{% endblock %}

{% block content %}
    <main>
		<section id="section-search">
			<div class="container">
                <div class="my-5">
                    <div class="text-center">
                        <h3>SEARCH RESULT FOR: <span>{{ function("get_search_query") }}</span></h3>
                    </div>
                </div>
                <div class="row article-list">
                    <dic class="row article-list">
                        {% if data.posts is not empty %}
                            {% for article in data.posts %}
                                <div class="col-md-4">
                                    {{ include('page/component/card.twig', {'article': article}) }}
                                </div>
                            {% endfor %}
                        {% else %}
                            <div class="col-md-4">
                            </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </section>
    </main>
{% endblock %}