{% extends "layout/main.twig" %}

{% block css_script %}
    <style>
        .message-box {
            --bs-text-opacity: 1;
            color: rgba(var(--bs-white-rgb), var(--bs-text-opacity)) !important;
        }

        .col-inner:has(> .message-box) {
            padding-bottom: 4rem;
            box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .15) !important;
        }
    </style>
{% endblock %}

{% block content %}
    <main>
        <div class="container">
            <div class="row align-middle align-center mb-4">
                <div class="col small-12 large-12 category-head">
                    <div class="col-inner text-center">
                        <h2><span style="font-size: 130%;"></span>Subscribe to our print and digital issues</h2>
                    </div>
                </div>
            </div>
            {{ function('the_content') }}
        </div>
    </main>
{% endblock %}